	<nav class="navbar navbar-expand-lg static-top" style="background-color: #693668;">
        <span class="navbar-toggler-icon"> </span>
        <h3 class="navbar mx-auto text-white">Poke Dex</h3>
      <div class="collapse navbar-collapse" id="navbarNav">
      </div>
    </nav>
 