<form method="GET" action="/search">
  <div class="input-group">
  <input type="text" class="form-control" name="q" value="{{ query }}" placeholder="Search">
  <div class="input-group-append">
    <input type="submit" class="btn btn-primary">
  </div>
  </div>
</form>