
<div class="jumbotron" style="margin-top: 10px;">
<h4 style="text-align: center;">Save Your Games To Search Later!</h4>
<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Enter your game!</span>
  </div>
  <input id="newName" name="collection" type="text" class="form-control">
  <button id="addcollection" class="btn btn-success btn-md pull-right" name="collection" type="submit" data-collectionid="{{this.id}}"> Save Game !</button>
  </input>
</div>
</div>



