<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movie To Watch</title>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
	{{{ body }}}
</body>
</html>

