<h2>Update a game</h2>
<form id="updategame" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="game" placeholder="what do you want to update this movie title to?"></textarea>
	<textarea type="text" name="game" placeholder="what do you want to update this game title to?"></textarea>
	<button type="submit">Update game</button>
</form>

<script type="text/javascript">
  $(".delgame").on("click", function(event) {
    var id = $(this).data("gameid");
    // Send the DELETE request.
    $.ajax("/api/games/" + id, {
      type: "DELETE"

      }
    );
  });
  $("#addgame").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();
    var newGame = {
      game: $("#addgame [name=game]").val().trim()
    };
    // Send the POST request.
    $.ajax("/api/games", {
      type: "POST",

      }
    );
  });
  $("#updategame").on("submit", function(event) {
    // Make sure to preventDefault on a submit event.
    event.preventDefault();
    var id = $("[name=id]").val().trim();
    var updatedGame = {
      game: $("#updategame [name=game]").val().trim()
    };
    // Send the PUT request.
    $.ajax("/api/games/" + id, {
      type: "PUT",

      }
    );
  });
</script>
</script> 
 {{!-- 5  views/layouts/main.handlebars 
@@ -2,11 +2,10 @@
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movie To Watch</title>
	<title>Favorites list</title>
	<script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
	{{{ body }}}
</body>
</html>

</html>  --}}