{{> nav-bar }}
<!-- Header -->
<div class="jumbotron jumbotron-fluid"style="background-color:#D8DCFF">
    <div class="container">
      <h1 class="display-4"style="text-align: center">Fetch them All</h1>
      <p class="lead"style="text-align: center">Welcome to <strong>Game Dex</strong> Keep all you games in one place</p>
      <div class="col text-center">
        {{> search-form }}
      </div>
    </div>
  </div>
  
  <!-- First grid -->
  <div class="jumbotron jumbotron-fluid"style="background-color:#AEADF0">
    <div class="container">
        <img src="https://img.icons8.com/dusk/64/000000/collectibles.png" style="float:right">
      <h1 class="display-4">Make A Wishlist</h1>
        <h1>{{> current-wish-list }} </h1>
    </div>
  </div>
<!-- Second Grid -->
<div class="jumbotron jumbotron-fluid"style="background-color:#D3EFBD">
  <div class="container">
      <img src="https://img.icons8.com/dusk/64/000000/collectibles.png" style="float:right">
    <h1 class="display-4">Recently reviewed and trending</h1>
    <div class="row">
      <div class="col-3">
        <img src="{{pokemon_img}}">
      
      <br> 
      <h3>{{user_name}}'s Pokemon! : {{pokemon_name}}</h3>
      </div>
    </div>
  </div>
</div>

{{> current-wish-list }}

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>