{{> nav-bar }}
<!-- Header -->
<div class="jumbotron jumbotron-fluid"style="background-color:#D8DCFF">
    <div class="container">
      <h1 class="display-4"style="text-align: center">Fetch them All</h1>
      <p class="lead"style="text-align: center">Welcome to <strong>Game Dex</strong>Keep all you games in one place</p>
      <div class="col text-center">
        {{> search-form }}
      </div>
    </div>
  </div>
  <!-- First grid -->
  <div class="jumbotron jumbotron-fluid"style="background-color:#AEADF0">
    <div class="container">
        <img src="https://img.icons8.com/dusk/64/000000/collectibles.png" style="float:right">
      <h1 class="display-4">Custom Game Collections</h1>
      <h5 class="display-4">Create a custom game list and share with others.</h5>
      <p class="lead" style="font-weight:bold">No longer use generic genres. Custom game lists allow for specific tastes
    </p>
    <li>Isometric Rpg's</li>
    <li>Controller friendly</li>
    <li>Space</li>
    <li>Post-Apocolypic</li>
    <li>Party Games</li>
    <li>Total War Collection</li>
    <li>Platforms</li>
    </div>
  </div>
<!-- Second Grid -->
<div class="jumbotron jumbotron-fluid"style="background-color:#D3EFBD">
  <div class="container">
      <img src="https://img.icons8.com/dusk/64/000000/collectibles.png" style="float:right">
    <h1 class="display-4">Recently reviewed and trending</h1>
    <div class="row">
      <div class="col-3">
        <img src="{{pokemon_img}}">
      
      <br> 
      <h3>{{user_name}}'s Pokemon! : {{pokemon_name}}</h3>
      </div>
    </div>
  </div>
</div>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>