{{> blank-nav }}
<div class="container">
    <div class="container">
        <div class="row mt-3">
            <div class="col-7">
                <div>
                </div>
                <form method="POST" action="/login">
                    <div class="form-group">
                        <label for="email">Email address:</label>
                        <input type="email" class="form-control" id="email" name="email"  placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Log in</button>
                </form>

                <hr>
                <div>
                    If you haven't had an account. <a href="/register">Create a new account</a>.
                </div>
                <div>
                    Return to <a href="/">Home Page</a>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>


</body>
