{{> blank-nav }}
<div class="container">
    <div class="container">
        <div class="row mt-5">
            <div class="col-4 login-left">
            </div>
            <div class="col-5 mt-2">
                <div class="text-danger">{{ errors }}
                </div>
                <form method="POST" action="/register">
                    <div class="form-group">
                        <label for="user_name">Full name:</label>
                        <input type="text" class="form-control" name="user_name" id="user_name" placeholder="Full name">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address: (*)</label>
                        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password: (*)</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <label for="passwordConfirmation">Confirm password: (*)</label>
                        <input type="password" class="form-control" name="passwordConfirmation" id="passwordConfirmation" placeholder="Password Confirmation" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>

                <hr>
                <div>
                    If you already have had an account. <a href="/login">Log in</a>.
                </div>
                <div>
                    Return to <a href="/">Home Page</a>
                </div>
                <br><br>
            </div>
        </div>
    </div>
</div>
</body>
</html>