{{> nav-bar }}
<div class="col-6 my-4">
{{> search-form }}
</div>
<h1>Search results</h1>
<div class="row">
  <div class="col-5 col-lg-3">
    <ul id="game_list" class="list-group">
      {{#each results}}
        <li class="list-group-item">
          <a href="#" data-game-id="{{id}}">{{name}}</a>
        </li>
      {{else}}
        <p>No results found!</p>
      {{/each}}
    </ul>
  </div>
  <div class="col-7 offset-lg-1" id="game_details">
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  // document.getElementById('game_list').getElementsByTagName('a')
  $('#game_list a').click(function(event) {
    event.preventDefault();
    $('#game_list li').removeClass('active');
    $(event.target).parent('li').addClass('active');
    let gameId = $(event.target).data('game-id');
    $.get('/gameDetails', { id: gameId }).done(function(result) {
      $('#game_details').html(result);
    })
  })
  $('#game_details').on('click', '.btn', function(event) {
    let $button  = $(event.target);
    let gameId   = $button.data('game-id');
    let title    = $button.data('title');
    let img      = $button.data('game-img');
    let action   = $button.data('action');
    $button.attr('disabled', true)
    $.post('/user/' + action + 'Game', { id: gameId, title: title, game_img: img }).done(function(result) {
      if (action === 'add') {
        $button.removeClass('btn-primary').addClass('btn-danger');
        $button.text("Remove game");
        $button.data('action', 'remove');
      } else {
        $button.removeClass('btn-danger').addClass('btn-primary');
        $button.text("Add game");
        $button.data('action', 'add');
      } 
      $button.attr('disabled', false);
    }).fail(function() {
      alert("Failed to update user");
    })
  });
});
</script>