<div class="card">
    {{!-- <img src="{{ image }}" class="card-img-top" alt="{{ title }}"> --}}
    <div class="card-body">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text">{{ description }}</p>
    <a href="#" class="btn btn-primary">I have this Game</a>
    </div>
</div>

{{!-- Called with data like this:
{
    "title":"Rise of the Tomb Raider: 20 Year Celebration"
    "releaseDate":"Oct 11, 2016"
    "description":"Lara Croft embarks on her first Tomb Raiding expedition to the most treacherous and remote regions of Siberia. Rise of the Tomb Raider: 20 Year Celebration also includes the new “Blood Ties” single player content, VR support, new Co-op play for Endurance mode, and more. [Playstation.com]"
    "genre":["Action Adventure", "Linear"]
    "image":"https://static.metacritic.com/images/products/games/7/8f5162e7ae59cd595c82a1833029967a-98.jpg"
    "score":88
    "developer":"Crystal Dynamics, Nixxes Software"
    "publisher":["Square Enix"]
    "rating":"M"
    "alsoAvailableOn":["PC","Xbox One"]
} 
--}}